<!DOCTYPE html>
<html>
  <head>
    <title>{{ project.name }} Invoice</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <style>
      {{{styles}}}
    </style>
  </head>
  <body>
    <h1 class="header">INVOICE</h1>
    <div class="user-block">
      <div>{{user.name}}</div>
      <div>{{user.address.street}}</div>
      <div>{{user.address.city}}, {{user.address.state}} {{user.address.zip}}</div>
    </div>

    <div class="client-block">
      <div class="client-block-column">
        <table>
          <tr>
            <td class="table-label" valign="top">To</td>
            <td>
              <div>{{client.name}}</div>
              <div>{{client.company}}</div>
              <div>{{client.address.street}}</div>
              <div>{{client.address.city}}, {{client.address.state}} {{client.address.zip}}</div>
            </td>
          </tr>
        </table>
      </div>

      <div class="client-block-column">
        <table>
          <tr>
            <td class="table-label">Project</td>
            <td>{{project.name}}</td>
          </tr>
          <tr>
            <td class="table-label">Period</td>
            <td>{{start}} &mdash; {{end}}</td>
          </tr>
          <tr>
            <td class="table-label">Invoice Date</td>
            <td>{{today}}</td>
          </tr>
        </table>
      </div>
    </div>

    <table class="line-items-table" cellspacing="0">
      <thead>
        <tr>
          <td>Date</td>
          <td>Hours</td>
          <td>Amount</td>
          <td>Work</td>
        </tr>
      </thead>
      <tbody>
        {{#each days}}
          <tr>
            <td class="item-date">{{date}}</td>
            <td class="item-time">{{time}}</td>
            <td class="item-pay">{{pay}}</td>
            <td class="item-comments">
              <ul class="item-comments-list">
                {{#each comments}}
                  <li class="item-comment">{{.}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="totals">
      <table>
        <tr>
          <td class="table-label">Fees</td>
          <td>{{totalPay}} ({{totalTime}})</td>
        </tr>
        <tr>
          <td class="table-label">Expenses</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td class="table-label">Amount Due</td>
          <td>{{totalPay}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>