{{> ui/nav-tabs selected="punch-in" }}

<div class="punch-in page">
  <div class="container">
    <form method="post">
      <div class="subsection">
        <header>
          <span>Most Recent</span>
        </header>

        <ul class="punch-in__projects-list punch-in__recent-projects unstyled">
          {{#each recentProjects}}
            <li style="--project-accent: {{projectColor .}}">
              {{#if isActive}}
                <a href="/punch/in/{{alias}}" class="-disabled">{{name}}</a>
                <span class="punch-in__active-badge">Punched In</span>
              {{else}}
                <a href="/punch/in/{{alias}}">{{name}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="subsection">
        <header>
          <span>
            Active Projects
          </span>
        </header>

        <ul class="punch-in__projects-list punch-in__all-projects unstyled">
          {{#each activeProjects}}
            <li style="--project-accent: {{projectColor .}}">
              {{#if isActive}}
                <a href="/punch/in/{{alias}}" class="-disabled">{{name}}</a>
                <span class="punch-in__active-badge">Punched In</span>
              {{else}}
                <a href="/punch/in/{{alias}}">{{name}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>

      {{#if inactiveProjects}}
        <div class="subsection">
          <details>
            <summary>Old Projects</summary>
            <p>Projects that haven't been worked on in over six months will appear in this section.</p>

            <ul class="punch-in__projects-list punch-in__all-projects unstyled">
              {{#each inactiveProjects}}
                <li style="--project-accent: {{projectColor .}}">
                  {{#if isActive}}
                    <a href="/punch/in/{{alias}}" class="-disabled">{{name}}</a>
                    <span class="punch-in__active-badge">Punched In</span>
                  {{else}}
                    <a href="/punch/in/{{alias}}">{{name}}</a>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </details>
          
        </div>
      {{/if}}
    </form>
  </div>
</div>