<!DOCTYPE html>
<html>
  <head>
    <title>{{ project.name }} Invoice</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        padding: 1.5em;
        font-family: "Source Sans Pro", sans-serif;
        color: #000;
        background-color: #fff;
      }

      .header {
        text-align: center;
        margin-bottom: 1em;
        color: #bbb;
      }

      .user-block {
        margin-bottom: 3em;
      }

      .client-block {
        display: flex;
        align-items: stretch;
        margin-bottom: 3em;
      }
      
      .client-block-column {
        flex: 1 1 50%;
        display: flex;
        flex-flow: column nowrap;
      }

      /*=========================*\
      ||    Line Item General    ||
      \*=========================*/

      .line-items-table {
        width: 100%;
      }

      .line-items-table td {
        padding: 0.25em 1em;
        vertical-align: top;
      }

      .line-items-table thead td {
        border-bottom: 2px solid #000;
        font-weight: bold;
        text-transform: uppercase;
      }

      .line-items-table tbody td {
        padding-top: 0.5em;
      }

      .table-label {
        font-weight: bold;
        padding-right: 1em;
      }

      /*=========================*\
      ||   Line Item Specifics   ||
      \*=========================*/

      .item-comments-list {
        list-style: none;
      }

      .item-time {
        white-space: nowrap;
      }

      .item-comment {
        display: flex;
        flex-flow: row nowrap;
        /*align-items: center;*/
      }

      .item-comment:before {
        content: '';
        display: inline-block;

        margin-top: calc(0.5em - 1px);

        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #ccc;

        margin-right: 0.7em;
      }

      /*=========================*\
      ||  Total Fees & Expenses  ||
      \*=========================*/

      .totals {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 3em;
      }
    </style>
  </head>
  <body>
    <h1 class="header">INVOICE</h1>
    <div class="user-block">
      <div>{{user.name}}</div>
      <div>{{user.address.street}}</div>
      <div>{{user.address.city}}, {{user.address.state}} {{user.address.zip}}</div>
    </div>

    <div class="client-block">
      <div class="client-block-column">
        <table>
          <tr>
            <td class="table-label" valign="top">To</td>
            <td>
              <div>{{client.name}}</div>
              <div>{{client.company}}</div>
              <div>{{client.address.street}}</div>
              <div>{{client.address.city}}, {{client.address.state}} {{client.address.zip}}</div>
            </td>
          </tr>
        </table>
      </div>

      <div class="client-block-column">
        <table>
          <tr>
            <td class="table-label">Project</td>
            <td>{{project.name}}</td>
          </tr>
          <tr>
            <td class="table-label">Period</td>
            <td>{{start}} &mdash; {{end}}</td>
          </tr>
          <tr>
            <td class="table-label">Invoice Date</td>
            <td>{{today}}</td>
          </tr>
        </table>

      </div>
    </div>

    <table class="line-items-table" cellspacing="0">
      <thead>
        <tr>
          <td>Date</td>
          <td>Hours</td>
          <td>Amount</td>
          <td>Work</td>
        </tr>
      </thead>
      <tbody>
        {{#each days}}
          <tr>
            <td class="item-date">{{date}}</td>
            <td class="item-time">{{time}}</td>
            <td class="item-pay">{{pay}}</td>
            <td class="item-comments">
              <ul class="item-comments-list">
                {{#each comments}}
                  <li class="item-comment">{{.}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="totals">
      <table>
        <tr>
          <td class="table-label">Fees</td>
          <td>{{pay}} ({{time}})</td>
        </tr>
        <tr>
          <td class="table-label">Expenses</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td class="table-label">Amount Due</td>
          <td>{{pay}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>