<h1>Punch</h1>

{{#with project}}
Project: <a href="/projects/{{alias}}">{{name}}</a>
{{/with}}

{{#with punch}}
  {{#if isActive}}
    Working since {{datetime in}}
  {{/if}}

  <h2>Comments</h2>
  <ul>
    {{#each comments}}
      <li>
        <div>
          {{comment}}
        </div>
        <div>
          <a href="/punch/{{@root.punch.id}}/comment/{{id}}/edit">Edit</a>
          <a href="/punch/{{@root.punch.id}}/comment/{{id}}/delete">Delete</a>
        </div>
      </li>
    {{/each}}

    <li><a href="/punch/{{@root.punch.id}}/comment/new">Add Comment</a></li>
  </ul>
{{/with}}