{{> ui/nav-tabs }}

<div class="punch-show page" style="--project-accent: {{projectColor project}}">
  <header>
    <h1 style="color: var(--project-accent)">Punch Details</h1>
  </header>

  {{#if isActive}}
  <div class="punch-show__punch-out">
    <a
      class="button -pill -wide"
      style="background-color: var(--project-accent)"
      href="/punch/out/{{punch.id}}?r=/punch/{{punch.id}}">
      {{> icons/stop class="button__icon" title="Punch out" }}
      <span>
        Punch Out
      </span>
    </a>
  </div>
  {{/if}}

  {{!-- <div class="container-row"> --}}

  <div class="container">
    <section>
      <header>
        <h2>Punch Info</h2>
      </header>

      <div class="detailsTable">
        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Project</span>
          </div>
          <div class="detailsTable__itemContent">
            {{> project-link project }}
          </div>
        </div> <!-- /project -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Start</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>{{formatDateTime punch.in}}</span>
          </div>
        </div> <!-- /start -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>End</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>
              {{#if isActive}}
                <span class="color-gray">---</span>
              {{else}}
                <span>{{formatDateTime punch.out}}</span>
              {{/if}}
            </span>
          </div>
        </div> <!-- /end -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Duration</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>
              {{#if isActive}}
                <span
                  data-ticker="duration"
                  data-ticker-value="{{dateDiffInMs punch.in punch.out}}">
                  {{formatDurationDates punch.in punch.out}}
                </span>
              {{else}}
                {{formatDurationDates punch.in punch.out resolution="minutes"}}
              {{/if}}
            </span>
          </div>
        </div> <!-- /duration -->

        {{#if isPaid}}
        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Earnings</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>
              {{#if isActive}}
                <span
                  data-ticker="currency"
                  data-ticker-value="{{earnings}}"
                  data-ticker-hourly-rate="{{punch.rate}}">

                  {{formatCurrency earnings}}
                </span>
              {{else}}
                {{formatCurrency earnings}}
              {{/if}}
              <span class="no-wrap color-gray">({{formatCurrency punch.rate}}/hr)</span>
            </span>
          </div>
        </div> <!-- /earnings -->
        {{/if}}
      </div>
    </section>
  </div>

  <div class="container">
    <section>
      <header class="section-header">
        <h2>Comments</h2>
      </header>

      {{#with punch}}
      <ul class="punch-show__comments unstyled">
        {{#if comments}}
          {{#each comments}}
          <li class="punch-show__comment">
            <div class="punch-show__comment-timestamp">
              {{> icons/time class="punch-show__time-icon" title="Comment timestamp" }}

              <span>{{formatTime (min timestamp ../out)}} ({{dateDiffOffset ../in (min timestamp ../out)}})</span>
            </div>
            <div class="punch-show__comment-text">
              <svg class="punch-show__comment-corner" viewBox="0 0 9 14" version="1.1">
                <path class="punch-show__comment-corner__fill" d="M 12 0.5 L 1 0.5 L 9 13" />
                <path class="punch-show__comment-corner__shade" d="M 12 0.5 L 1 0.5 L 9 13" />
                <path class="punch-show__comment-corner__outline" d="M 9 1 L 1 1 L 8 12" />
              </svg>

              <span>{{linkifyTags .}}</span>
            </div>
            <div class="punch-show__comment-actions -pill">
              <a
                class="button -tiny -pill"
                href="/punch/{{@root.punch.id}}/comment/{{id}}/edit">
                {{> icons/edit class="button__icon" title="Edit icon" }}
                <span>
                  Edit
                </span>
              </a>
              <a
                class="button -tiny -danger -pill"
                href="/punch/{{@root.punch.id}}/comment/{{id}}/delete">
                {{> icons/bin class="button__icon" title="Delete icon" }}
                <span>
                  Delete
                </span>
              </a>
            </div>
          </li>
          {{/each}}
        {{else}}
          <li><span class="color-gray">There are no comments.</span></li>
        {{/if}}
      </ul>

      <div class="punch-show__add-comment-button">
        <a
          class="button -pill"
          href="/punch/{{@root.punch.id}}/comment/new?r=/punch/{{@root.punch.id}}">
          {{> icons/chat-add class="button__icon" title="Add comment" }}
          <span>
            Add Comment
          </span>
        </a>
      </div>
      
      {{/with}}
    </section>
  </div>

  <div class="container">
    <section>
      <header>
        <h2>Actions</h2>
      </header>
      <div class="punch-show__active-actions">
        {{!-- <a
          class="button -pill -wide"
          href="/punch/out/{{punch.id}}?r=/punch/{{punch.id}}">
          {{> icons/edit class="button__icon" title="Edit punch" }}
          <span>
            Edit
          </span>
        </a> --}}

        <a
          class="button -pill -wide -danger"
          href="/punch/{{punch.id}}/delete">
          {{> icons/bin class="button__icon" title="Delete punch" }}
          <span>
            Delete
          </span>
        </a>

      </div>
    </section>
  </div>

  {{!-- </div> <!-- /container-row --> --}}
</div>