{{> ui/nav-tabs }}

<div class="punch-show page" style="--project-accent: {{projectColor project}}">
  <div class="container">
    <section>
      <header>
        <h1>Punch Details</h1>
      </header>

      <div class="detailsTable">
        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Project</span>
          </div>
          <div class="detailsTable__itemContent">
            {{> project-link project }}
          </div>
        </div> <!-- /project -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Start</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>{{formatTime punch.in}} &mdash; {{formatDate punch.in}}</span>
          </div>
        </div> <!-- /start -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>End</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>
              {{#if isActive}}
                <span class="punch-show__label--faded">---</span>
              {{else}}
                {{formatTime punch.out}} &mdash; {{formatDate punch.out}}
              {{/if}}
            </span>
          </div>
        </div> <!-- /end -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Duration</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>
              {{#if isActive}}
                <span
                  data-ticker="duration"
                  data-ticker-value="{{dateDiffInMs punch.in punch.out}}">
                  {{formatDurationDates punch.in punch.out}}
                </span>
              {{else}}
                {{formatDurationDates punch.in punch.out resolution="minutes"}}
              {{/if}}
            </span>
          </div>
        </div> <!-- /duration -->

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Earnings</span>
          </div>
          <div class="detailsTable__itemContent">
            <span>
              {{#if isPaid}}
                {{#if isActive}}
                  <span
                    data-ticker="currency"
                    data-ticker-value="{{earnings}}"
                    data-ticker-hourly-rate="{{punch.rate}}">

                    {{formatCurrency earnings}}
                  </span>
                {{else}}
                  {{formatCurrency earnings}}
                {{/if}}
                {{!-- &mdash; {{formatCurrency punch.rate}} / hour --}}
              {{else}}
                <span class="punch-show__label--faded">---</span>
              {{/if}}
            </span>
          </div>
        </div> <!-- /earnings -->
      </div>

      {{#if isActive}}
        <a
          class="button button--pill"
          href="/punch/out/{{punch.id}}?r=/punch/{{punch.id}}">
          <svg class="button__icon">
            <title>Punch out</title>
            <use xlink:href="/icons/ikonate.svg#stopwatch">
          </svg>
          <span>
            Punch Out
          </span>
        </a>
      {{/if}}
    </section>
  </div>

  <div class="container">
    <section>
      <header class="section-header">
        <h2>Comments</h2>
      </header>

      {{#with punch}}
      <ul class="punch-show__comments unstyled">
        {{#if comments}}
          {{#each comments}}
          <li class="punch-show__comment">
            <div class="punch-show__comment-timestamp">
              <svg class="punch-show__time-icon">
                <title>Comment timestamp</title>
                <use xlink:href="/icons/ikonate.svg#time">
              </svg>

              <span>{{formatTime (min timestamp ../out)}} ({{dateDiffOffset ../in (min timestamp ../out)}})</span>
            </div>
            <div class="punch-show__comment-text">
              <span>{{comment}}</span>
            </div>
            <div class="punch-show__comment-actions">
              <a
                class="button -tiny -pill"
                href="/punch/{{@root.punch.id}}/comment/{{id}}/edit">
                <svg class="button__icon">
                  <title>Edit icon</title>
                  <use xlink:href="/icons/ikonate.svg#edit"></use>
                </svg>
                <span>
                  Edit
                </span>
              </a>
              <a
                class="button -tiny -danger -pill"
                href="/punch/{{@root.punch.id}}/comment/{{id}}/delete">
                <svg class="button__icon">
                  <title>Delete icon</title>
                  <use xlink:href="/icons/ikonate.svg#bin"></use>
                </svg>
                <span>
                  Delete
                </span>
              </a>
            </div>
          </li>
          {{/each}}
        {{else}}
          <li>No comments</li>
        {{/if}}
      </ul>

      <div class="punch-show__add-comment-button">
        <a
          class="button button--pill"
          href="/punch/{{@root.punch.id}}/comment/new?r=/punch/{{@root.punch.id}}">
          <svg class="button__icon">
            <title>Add comment</title>
            <use xlink:href="/icons/ikonate.svg#chat">
          </svg>
          <span>
            Add Comment
          </span>
        </a>
      </div>
      
      {{/with}}
    </section>
  </div>
</div>