<a href="/projects/{{project.alias}}">{{project.name}}</a> - started {{formatTime in}} - 

<span data-ticker="duration" data-ticker-value="{{ dateDiffInMs in out }}">{{ formatDurationDates in out }}</span>

{{!-- -

<span data-ticker="currency" data-ticker-value="{{ dateDiffInMs in out }}">{{ formatLongDuration in out }}</span> --}}

<br>

<a href="/punch/{{id}}">Details</a>
<a href="/punch/{{id}}/comment/new">Add Comment</a>
<a href="/punch/out/{{id}}">Punch Out</a>