<a href="/projects/{{project.alias}}">{{project.name}}</a> - {{formatDateTime in}}<br>
<a href="/punch/{{id}}">Details</a>
<a href="/punch/{{id}}/comment/new">Add Comment</a>
<a href="/punch/{{id}}/delete">Delete</a>