<ul class="punch-list unstyled">
  {{#each punches}}
    <li style="--project-accent: {{projectColor project}}">
      <a href="/punch/{{id}}">
        {{#if (ifNotDefined ../showColorBar true)}}
        <div class="punch-list__color-bar"></div>
        {{/if}}
        <div class="punch-list__details">
          {{#if (ifNotDefined ../showProject true)}}
          <div class="punch-list__title">
            {{projectDetails project "name"}}
          </div>
          {{/if}}
          {{#if ../showDate}}
          <div class="punch-list__date">
            {{formatDate in}}
          </div>
          {{/if}}
          <div class="punch-list__summary">
            <div class="punch-list__summary__times">
              {{formatTime in}} - {{#if out}}{{formatTime out}}{{else}}NOW{{/if}}
            </div>
            <div class="punch-list__summary__stats">
              {{formatDurationDates in out}}
            </div>
          </div>
          {{#if comments}}
          <ul class="punch-list__comments unstyled" style="--project-accent: {{projectColor project}}">
            {{#each comments}}
              <li>
                <div class="punch-list__comment">
                  {{formatTags .}}
                </div>
                <div class="punch-list__comment-timestamp">
                  {{> icons/time class="punch-list__time-icon" title="Comment timestamp" }}
                  <span>{{formatTime (min timestamp ../out)}} ({{dateDiffOffset ../in (min timestamp ../out)}})</span>
                </div>
              </li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
      </a>
    </li>
  {{/each}}
</ul>