{{> ui/nav-tabs selected="log" }}

<div class="log page">
  <nav class="log__toolbar">
    <div>
      <a class="log__toolbar-item" href="{{filtersUrl}}">Edit Filters</a>
      <a class="log__toolbar-item" href="{{tagsUrl}}">Tags</a>
    </div>

    <div>
    {{#if hasFilters}}
      <a class="log__toolbar-item" href="/log">Clear Filters</a>
    {{else}}
      <span class="log__toolbar-item color-gray">No Filters</span>
    {{/if}}
    </div>
  </nav>

  <div class="container">
    {{#if (areEqual totalResults 1)}}
      <p>One result</p>
    {{else}}
      <p>{{totalResults}} results</p>
    {{/if}}
    
    <div class="log__page-selector">
      {{> log/page-selector pagination }}
    </div>
  </div>

  {{#each groups}}
  <div class="container">
    <section>
      <header class="section-header">
        <h2>{{title}}</h2>
      </header>

      {{> punch-list punches=punches }}
    </section>
  </div>
  {{/each}}
  
  <div class="container">
    <div class="log__page-selector">
      {{> log/page-selector pagination }}
    </div>
  </div>
</div>



