{{> ui/nav-tabs selected="clients" }}

<div class="clients-show page">
  <div class="container">
    <section>
      <header>
        <h1>{{client.name}}</h1>
      </header>

      <div class="detailsTable">
        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Last Active</span>
          </div>
          <div class="detailsTable__itemContent">
            {{#if (areEqual lastActiveLabel null)}}
              <strong class="color-green">NOW</strong>
            {{else}}
              <span>{{lastActiveLabel}}</span>
            {{/if}}
          </div>
        </div>

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Hours Worked</span>
          </div>
          <div class="detailsTable__itemContent">
            {{formatDurationMs totalDuration}}
          </div>
        </div>

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Total Earned</span>
          </div>
          <div class="detailsTable__itemContent">
            {{formatCurrency totalPay}}
          </div>
        </div>
      </div>
    </section>

    {{#with current}}
      {{#if any}}
        <section>
          <header>
            <h2>Active Punches</h2>
          </header>
          <ul class="unstyled">
          {{#each punches}}
            <li>{{> active-punch . }}</li>
          {{/each}}
          </ul>
        </section>
      {{/if}}
    {{/with}}

    <section>
      <header>
        <h2>Projects</h2>
      </header>
      <ul class="clients-show__projects unstyled">
        {{#each projects}}
          <li>{{> project-link . }}</li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>



