<h1>Dashboard</h1>

<a href="/punch/in">Punch In</a>

{{#with current}}
  {{#if any}}
    <h2>Active Punches</h2>
    <ul>
    {{#each punches}}
      <li>{{> activePunch . }}</li>
    {{/each}}
    </ul>
  {{/if}}
{{/with}}

<h2>Today</h2>

<!--
  This section:

  - List of all punches for today
  - Hours worked today (by project and total)
  - Money earned today (by project and total)
  - Comparison against average hours worked on this day in past weeks
-->

{{#with summaries.today}}

  <ul>
    {{#each punches}}
      <li>
        {{project}} - {{formatTime in}} -
        {{#if out}}
          {{formatDurationDates in out}}
        {{else}}
          <span data-ticker="duration" data-ticker-value="{{ dateDiffInMs in out }}">{{ formatDurationDates in out }}</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  Time worked: {{formatDurationMs duration}}<br>
  Earnings: {{formatCurrency earnings}}<br>
  <br>

  {{> dashboard/statsByProject . }}

{{/with}}

<h2>Yesterday</h2>

<!--
  This section:

  - List of all punches for today
  - Hours worked today (by project and total)
  - Money earned today (by project and total)
  - Comparison against average hours worked on this day in past weeks
-->

{{#with summaries.yesterday}}

  <ul>
    {{#each punches}}
      <li>
        {{project}} - {{formatTime in}} -
        {{#if out}}
          {{formatDurationDates in out}}
        {{else}}
          <span data-ticker="duration" data-ticker-value="{{ dateDiffInMs in out }}">{{ formatDurationDates in out }}</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  Time worked: {{formatDurationMs duration}}<br>
  Earnings: {{formatCurrency earnings}}<br><br>

  {{> dashboard/statsByProject . }}

{{/with}}

<h2>This Week</h2>

<!--
  This section:

  - Hours worked this week (by project and total)
  - Money earned this week (by project and total)
  - Average hours per day this week
  - Comparison against average hours worked / money earned since last week
-->

{{#with summaries.thisWeek}}
  Time worked: {{formatDurationMs duration resolution="hours" short=true}}<br>
  Earnings: {{formatCurrency earnings}}<br>
  Daily average: {{formatDurationMs avgDuration resolution="hours" short=true}} / {{formatCurrency avgEarnings}}<br><br>

  {{> dashboard/statsByProject . }}
{{/with}}

<h2>Last Week</h2>

{{#with summaries.lastWeek}}
  Time worked: {{formatDurationMs duration resolution="hours" short=true}}<br>
  Earnings: {{formatCurrency earnings}}<br>
  Daily average: {{formatDurationMs avgDuration resolution="hours" short=true}} / {{formatCurrency avgEarnings}}<br><br>

  {{> dashboard/statsByProject . }}
{{/with}}

<h2>This Month</h2>

<!--
  This section:

  - Hours worked this month (by project and total)
  - Money earned this month (by project and total)
  - Average hours per week this month
  - Comparison against average hours worked / money earned since last month
-->

{{#with summaries.thisMonth}}
  Time worked: {{formatDurationMs duration resolution="hours" short=true}}<br>
  Earnings: {{formatCurrency earnings}}<br>
  Weekly average: {{formatDurationMs avgWeekDuration resolution="hours" short=true}} / {{formatCurrency avgWeekEarnings}}<br><br>

  {{> dashboard/statsByProject . }}
{{/with}}

<h2>Last Month</h2>

{{#with summaries.lastMonth}}
  Time worked: {{formatDurationMs duration resolution="hours" short=true}} / {{formatDurationMs avgWeekDuration resolution="hours" short=true}}/wk<br>
  Earnings: {{formatCurrency earnings}}<br>
  Weekly average: {{formatDurationMs avgWeekDuration resolution="hours" short=true}} / {{formatCurrency avgWeekEarnings}}<br><br>

  {{> dashboard/statsByProject . }}
{{/with}}

<h2>Notes</h2>

<h3>Coming here I want to know</h3>
<ul>
  <li>What I'm currently working on (with a way to add a comment or punch out)</li>
  <li>How much money I've made today</li>
  <li>How much money I've made this month</li>
  <li>How many hours I've worked this week</li>
  <li>Which projects I've worked most on this month</li>
  <li>Which clients I've worked most for this month</li>
</ul>

