<a href="{{href}}">
  {{!-- <svg class="main-menu__icon">
    <title>{{title}} icon</title>
    <use xlink:href="/icons/ikonate.svg#{{icon}}"></use>
  </svg> --}}
  <span>
    {{title}}
  </span>
  <svg class="main-menu__disclosure">
    <title>To {{title}}</title>
    <use xlink:href="/icons/ikonate.svg#chevron-right"></use>
  </svg>
</a>