{{> ui/nav-tabs selected="projects" }}

<div class="project-show page">
  <div class="container">
    {{#with project}}
    <section>
      <header>
        <h1>{{name}}</h1>
      </header>

      <div class="detailsTable">
        {{#if client}}
        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Client</span>
          </div>
          <div class="detailsTable__itemContent">
            {{> client-link client }}
          </div>
        </div>
        {{/if}}

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Last Active</span>
          </div>
          <div class="detailsTable__itemContent">
            {{@root.lastActiveLabel}}
          </div>
        </div>

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Total Hours</span>
          </div>
          <div class="detailsTable__itemContent">
            {{formatDurationMs ../totalDuration}}
          </div>
        </div>

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Hourly Rate</span>
          </div>
          <div class="detailsTable__itemContent">
            {{#if hourlyRate}}
              {{formatCurrency hourlyRate}}
            {{else}}
              ---
            {{/if}}
          </div>
        </div>

        <div class="detailsTable__item">
          <div class="detailsTable__itemLabel">
            <span>Total Earned</span>
          </div>
          <div class="detailsTable__itemContent">
            {{#if hourlyRate}}
              {{formatCurrency ../totalPay}}
            {{else}}
              ---
            {{/if}}
          </div>
        </div>
      </div>
    </section>
    {{/with}}
  </div>

  <div class="container">
      {{#if currentPunch}}
      <section>
        <header>
          <h2>Active Punches</h2>
        </header>
        <div class="project-show__current-punch">
          <div>{{> active-punch currentPunch }}</div>
          {{!-- Active Now - working since {{formatDateTime in}} <a href="/punch/out/{{id}}">Punch Out</a> --}}
        </div>
      </section>
    {{/if}}

    <section>
      <header>
        <h2>Recent Work</h2>
      </header>

      {{> punch-list punches=recentPunches
                     showDate=true
                     showProject=false
                     showColorBar=true }}

      <div class="project-show__recent-actions">
        <a href="/log?project={{project.alias}}">See more</a>
      </div>
    </section>
  </div>

  <div class="container">
        <section>
      <header>
        <h2>Notes</h2>
      </header>

      <h3>Stuff That Goes On This Page</h3>
      <ul>
        <li>Work summary (today, this week, this month)</li>
      </ul>
    </section>
  </div>
</div>