<div class="page-selector">
  <a
    class="page-selector__button"
    href="{{backUrl}}"
    {{#if backUrl}}{{else}}disabled{{/if}}>
    {{> icons/chevron-left title="Previous page" }}
  </a>

  <div class="page-selector__info">
    <span class="page-selector__label">Page {{currentPage}} of {{totalPages}}</span>
    <div class="page-selector__progress-bar">
      <div
        class="page-selector__progress-bar__inner"
        style="flex: 0 0 {{getPercent currentPage totalPages}}%">
      </div>
    </div>
  </div>

  <a
    class="page-selector__button"
    href="{{nextUrl}}"
    {{#if nextUrl}}{{else}}disabled{{/if}}>
    {{> icons/chevron-right title="Next page" }}
  </a>
</div>